.checker {
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.checked,
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checked+label,
.custom-checkbox+label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.checked+label::before,
.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 4px;
    margin-right: .1em;
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center center;
}

.checked+label::before {
    border-color: #6B4EFF;
    background-color: #6B4EFF;
    background-image: url("Icon.svg");
}

.custom-checkbox:disabled+label::before {
    border: 1px solid #E3E5E5;
}

.checked:disabled+label::before {
    border-color: #E3E5E5;
    background-color: #E3E5E5;
}