button {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    position: relative;
    border-radius: 48px;
}

.block {
    padding: 16px 103px;
}

.large {
    padding: 16px 32px;
}

.small {
    padding: 8px 16px;
}

.large_with_icon_left {
    padding: 16px 32px 16px 64px;
}

.large_with_icon_right {
    padding: 16px 64px 16px 32px;
}

.small_with_icon_left {
    padding: 8px 16px 8px 32px;
}

.small_with_icon_right {
    padding: 8px 32px 8px 16px;
}

.primary {
    background-color: #6B4EFF;
    color: white;
    border: 0px;
}

.primary:active {
    background: #5538EE;
}

.primary:disabled {
    background: #E3E5E6;
    color: #979C9E;
}


.secondary {
    background: #E7E7FF;
    color: #6B4EFF;
    border: 0px;
}

.secondary:active {
    background: #C6C4FF;
    color: #5538EE;
}

.secondary:disabled {
    background: #E3E5E6;
    color: #979C9E;
}

.outline {
    color: #6B4EFF;
    border: 1px solid #6B4EFF;
    background-color: white;
}

.outline:active {
    color: #5538EE;
    border: 1px solid #5538EE;
}

.outline:disabled {
    border: 1px solid #CDCFD0;
    color: #CDCFD0;
}

.transparent {
    border: 0px;
    color: #6B4EFF;
    background-color: white;
}

.transparent:active {
    background: #E7E7FF;
    color: #6B4EFF;
}

.transparent:disabled {
    color: #CDCFD0;
}

.left_chat_primary::before {
    content: url('../icons/defaultChatPrymary.png');
    position: absolute;
    margin-left: -50px;
    bottom: 10px;
}

.center_chat_primary::before {
    content: url('../icons/defaultChatPrymary.png');
    position: absolute;
    margin-left: -30px;
    bottom: 10px;
}

.left_chat_primary_small::before {
    content: url('../icons/arrowDefaultPrimarySmall.png');
    position: absolute;
    margin-left: -24px;
}

.right_arrow_primary_small::before:active,
.left_chat_primary_small::before:active {
    content: url('../icons/arrowActivePrimarySmall.png');
}

.right_arrow_primary_small::before:disabled,
.left_chat_primary_small::before:disabled {
    content: url('../icons/arrowDisabledPrimarySmall.png');
}

.right_arrow_primary_small::before {
    content: url('../icons/arrowDefaultPrimarySmall.png');
    position: absolute;
    margin-left: 124px;
}

.center_chat_primary_small::before {
    content: url('../icons/defaultChatPrymarySmall.png');
    position: absolute;
    margin-left: -18px;
}

.center_chat_primary_small::before:active {
    content: url('../icons/activeChatPrymarySmall.png');
}

.center_chat_primary_small::before:disabled {
    content: url('../icons/disabledChatPrymarySmall.png');
}

.center_chat_primary::before:active,
.left_chat_primary::before:active {
    content: url('../icons/activeChatPrymary.png');
}

.center_chat_primary::before:disabled,
.left_chat_primary::before:disabled {
    content: url('../icons/disabledChatPrymary.png');
}

.right_arrow_primary::before {
    content: url('../icons/arrowDefaultPrimary.png');
    position: absolute;
    right: 16px;
    bottom: 10px;
}

.right_arrow_primary::before:active {
    content: url('../icons/arrowActivePrimary.png');
}

.right_arrow_primary::before:disabled {
    content: url('../icons/arrowDisabledPrimary.png');
}

.left_chat::before {
    content: url('../icons/defaultChat.png');
    position: absolute;
    margin-left: -50px;
    bottom: 10px;
}

.center_chat::before {
    content: url('../icons/defaultChat.png');
    position: absolute;
    margin-left: -30px;
    bottom: 10px;
}

.center_chat::before:active,
.left_chat::before:active {
    content: url('../icons/activeChat.png');
}

.center_chat::before:disabled,
.left_chat::before:disabled {
    content: url('../icons/disabledChat.png');
}

.right_arrow::before {
    content: url('../icons/arrowDefault.png');
    position: absolute;
    right: 16px;
    bottom: 10px;
}

.right_arrow::before:active {
    content: url('../icons/arrowActive.png');
}

.right_arrow::before:disabled {
    content: url('../icons/arrowDisabled.png');
}


.left_chat_small::before {
    content: url('../icons/arrowDefaultSmall.png');
    position: absolute;
    margin-left: -24px;
}

.right_arrow_small::before:active,
.left_chat_small::before:active {
    content: url('../icons/arrowActiveSmall.png');
}

.right_arrow_small::before:disabled,
.left_chat_small::before:disabled {
    content: url('../icons/arrowDisabledSmall.png');
}

.right_arrow_small::before {
    content: url('../icons/arrowDefaultSmall.png');
    position: absolute;
    left: 86%;
}

.center_chat_small::before {
    content: url('../icons/chatDefaultSmall.png');
    position: absolute;
    margin-left: -18px;
}

.center_chat_small::before:active {
    content: url('../icons/chatActiveSmall.png');
}

.center_chat_small::before:disabled {
    content: url('../icons/chatDisabledSmall.png');
}