    button {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        position: relative;
        border-radius: 48px;
    }

    .block {
        padding: 16px 103px;
    }

    .large {
        padding: 16px 32px;
    }

    .small {
        padding: 8px 16px;
    }

    .large_with_icon_left {
        padding: 16px 32px 16px 64px;
    }

    .large_with_icon_right {
        padding: 16px 64px 16px 32px;
    }

    .small_with_icon_left {
        padding: 8px 16px 8px 32px;
    }

    .small_with_icon_right {
        padding: 8px 32px 8px 16px;
    }

    .primary {
        background-color: #6B4EFF;
        color: white;
        border: 0px;
    }

    .primary:hover {
        cursor: pointer;
        background: #5538EE;
    }

    .primary:disabled {
        background: #E3E5E6;
        color: #979C9E;
    }

    .secondary {
        background: #E7E7FF;
        color: #6B4EFF;
        border: 0px;
    }

    .secondary:hover {
        cursor: pointer;
        background: #C6C4FF;
        color: #5538EE;
    }

    .secondary:disabled {
        background: #E3E5E6;
        color: #979C9E;
    }

    .outline {
        color: #6B4EFF;
        border: 1px solid #6B4EFF;
        background-color: white;
    }

    .outline:hover {
        cursor: pointer;
        color: #5538EE;
        border: 1px solid #5538EE;
    }

    .outline:disabled {
        border: 1px solid #CDCFD0;
        color: #CDCFD0;
    }

    .transparent {
        border: 0px;
        color: #6B4EFF;
        background-color: white;
    }

    .transparent:hover {
        cursor: pointer;
        background: #E7E7FF;
        color: #6B4EFF;
    }

    .transparent:disabled {
        color: #CDCFD0;
    }

    .left_chat_primary {
        filter: invert(1) grayscale(100%) brightness(200%);
        position: absolute;
        margin-left: -80px;
        bottom: 12px;
    }

    .center_chat_primary {
        position: absolute;
        margin-left: -30px;
        bottom: 12px;
        filter: invert(1) grayscale(100%) brightness(200%);
    }

    .right_arrow_primary {
        position: absolute;
        right: 16px;
        bottom: 12px;
        filter: invert(1) grayscale(100%) brightness(200%);
    }

    .left_chat_primary_large {
        filter: invert(1) grayscale(100%) brightness(200%);
        position: absolute;
        margin-left: -50px;
        bottom: 12px;
    }

    .left_chat_primary_small {
        position: absolute;
        margin-left: -24px;
        filter: invert(1) grayscale(100%) brightness(200%);
        bottom: 4px;
    }

    .right_arrow_primary_small {
        position: absolute;
        margin-left: 124px;
        filter: invert(1) grayscale(100%) brightness(200%);
        bottom: 4px;
    }

    .center_chat_primary_small {
        filter: invert(1) grayscale(100%) brightness(200%);
        position: absolute;
        margin-left: -24px;
        bottom: 4px;
    }

    .left_chat {
        position: absolute;
        margin-left: -80px;
        bottom: 12px;
    }

    .left_chat_large {
        position: absolute;
        margin-left: -50px;
        bottom: 12px;
    }

    .center_chat {
        position: absolute;
        margin-left: -30px;
        bottom: 12px;
    }

    .right_arrow {
        position: absolute;
        right: 16px;
        bottom: 12px;
    }

    .left_chat_small {
        position: absolute;
        margin-left: -24px;
        bottom: 4px;
    }

    .right_arrow_small {
        position: absolute;
        left: 86%;
        bottom: 4px;
    }

    .center_chat_small {
        position: absolute;
        margin-left: -24px;
        bottom: 4px;
    }