*,
*::after,
*::before {
    box-sizing: border-box;
}

.body {
    display: flex;
    flex-wrap: wrap;
}

.ui-item {
    flex-basis: 50%;
    border: 1px solid black;
    padding: 50px;
    position: relative;
}